<html>
    <head>


    </head>


    <body>
        <table>
<tr>
    <th>Planet</th>

</tr>

<% for (var i = 0; i < data.length; i++) { %>

    <tr>
        <td><%=data[i].planet%></td>
    </tr>

<% } %>

        </table>

    </body>

</html>
